   pandas
   numpy
   faker
   sqlalchemy
   psycopg2-binary
   scikit-learn
   xgboost
   imbalanced-learn
   shap
   streamlit
   fastapi
   uvicorn
   pydantic
   plotly
   matplotlib
   seaborn
   pytest
   python-dotenv